* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Tajawal', 'Nunito', sans-serif;
}

html,
body {
  font-size: 16px;
  background-color: #e9edee;
}

button {
  height: 40px;
  background-color: #febd69;
  border: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  font-weight: bold;
  line-height: 1.6;
  font-size: 14px;
  cursor: pointer;
  padding: 0 16px;
  min-width: 120px;
}

button.second {
  background-color: #999;
  color: #222;
}

input[type="email"],
input[type="password"],
input[type="text"],
select {
  height: 40px;
  outline: none;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
select:focus {
  border-color: #febd69;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
}

@media (min-width: 0) and (max-width: 567px) {
  .container {
    padding: 16px;
  }
}

.page {
  padding: 32px 0;
}

@media (min-width: 0) and (max-width: 567px) {
  .page {
    padding: 16px;
  }
}

header {
  background-color: #121921;
  color: #fff;
}

header .container {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 567px) {
  header .container {
    padding: 0 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header .logo {
  margin-right: 8px;
}

header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 800px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 16px;
  cursor: pointer;
}

header .search input {
  border-radius: 0;
}

header .search .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  min-width: auto;
  width: 60px;
  max-width: 60px;
  height: 40px;
  background-color: #ffa530;
}

@media (max-width: 567px) {
  header .search-desk {
    display: none;
  }
}

header .lang {
  background-color: #febd6920;
  border-radius: 4px;
  color: #ffa530;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 90px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .lang .current-lang {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .lang .lang-dropdown {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 200px;
  padding: 10px;
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 45px;
  color: black;
}

@media only screen and (max-width: 768px) {
  header .lang .lang-dropdown {
    width: 100%;
  }
}

header .lang .lang-dropdown .lang-choice.active {
  color: #febd69;
  font-weight: bold;
}

header .lang .lang-dropdown .lang-choice.active:hover {
  text-decoration: none;
}

header .lang .lang-dropdown .lang-choice {
  padding: 16px 0;
  cursor: pointer;
}

header .lang .lang-dropdown .lang-choice:hover {
  color: #febd69;
  text-decoration: underline;
}

header .links {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-right: 16px;
}

header .cart {
  font-size: 0;
}

header .profile {
  margin-left: auto;
  margin-right: 16px;
}

header .profile .profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
  cursor: pointer;
}

header .profile .profile-image img {
  width: 100%;
  height: 100%;
}

.search-responsive-con {
  display: none;
}

@media (max-width: 567px) {
  .search-responsive-con .search-responsive {
    margin: 0;
  }
}

@media (max-width: 567px) {
  .search-responsive-con {
    display: block;
  }
}

nav {
  background-color: #232f3f;
}

nav .container {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  width: 24px;
  cursor: pointer;
}

nav .menu span {
  height: 2px;
  background-color: #fff;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
}

@media (max-width: 567px) {
  nav .links {
    padding: 0 16px;
  }
}

.swiper .home-card {
  width: auto;
}

.home-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
}

.home-card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

@media (min-width: 0) and (max-width: 567px) {
  .home-card a > *:not(.image) {
    padding: 0 16px;
  }
}

.home-card a .title {
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-card a .image {
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.home-card a .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-card a .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  margin-bottom: 8px;
}

.home-card a .price .currency {
  font-size: 14px;
  line-height: 1.2;
}

.home-card a .price .amount {
  font-size: 24px;
}

.home-card a .price .complment {
  font-size: 12px;
  line-height: 1.4;
}

.home-card .countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
}

.home-card .countries .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 8px;
}

.home-card .countries .country .flag img {
  width: 32px;
}

.home-card .countries .country .c-go {
  margin-left: auto;
}

.home-card .ad-label {
  font-size: 11px;
  border: 1px solid #0077ab;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #0077ab;
  padding: 0 3px;
  margin-left: 3%;
  margin-top: 0.7%;
  background-color: #edf7ff;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  scroll-behavior: smooth;
  gap: 24px;
  overflow-x: scroll;
}

.slider .slider-item {
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slider .slider-item .slider-image {
  aspect-ratio: 16/9;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-radius: 8px;
  min-width: 200px;
  min-height: 200px;
  background-color: #ccc;
}

.slider .slider-item .slider-image img {
  width: 100%;
  height: auto;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.product .image-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 8px;
  left: 8px;
  gap: 4px;
}

.product .image-selector img {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

.product .image {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  max-width: 300px;
  height: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.product .image img {
  width: 100%;
}

.product .details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100px;
  max-width: 100%;
  padding: 32px;
}

.product .top-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  overflow: auto;
}

@media (max-width: 567px) {
  .product .top-details button {
    width: 100%;
  }
}

.product .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  max-width: 450px;
  line-height: 1em;
}

.product .title span {
  font-weight: 400;
  font-size: 12px;
  color: #999;
  width: 40px;
  height: 24px;
}

.product .title span img {
  width: 100%;
  height: 100%;
}

.product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 16px;
}

.product .price div {
  font-size: 32px;
}

.product .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  border-top: 1px solid #ddd;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.product .prices > div {
  padding: 16px;
  min-width: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.product .prices > div > div {
  color: #999;
  font-weight: 400;
  font-size: 14px;
}

.product .prices .l-price,
.product .prices .r-price {
  color: #f33;
  font-size: 24px;
}

.product .prices .h-price {
  font-size: 24px;
  color: #49f05f;
}

.product .p-details {
  margin-top: 16px;
}

.product .p-details ul {
  margin-left: 18px;
  margin-top: 8px;
}

.other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  margin-top: 32px;
}

.product-desc {
  line-height: 2em;
  padding: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 32px;
}

.product-desc h1 {
  margin-bottom: 8px;
}

.product-desc ul {
  margin-left: 16px;
}

.reviews-container {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-container .stats {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.reviews-container .stats h2 {
  margin-bottom: 8px;
}

.reviews-container .stats .stars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.reviews-container .stats .all-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.reviews-container .stats .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-content {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
  max-height: 550px;
  overflow-y: auto;
  background-color: #ddd;
}

.reviews a {
  background-color: #fff;
  padding: 16px;
  text-align: center;
}

.review-input {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 567px) {
  .review-input {
    margin-top: 0;
    padding: 16px;
  }
}

.review-input .first-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  display: none;
}

.review-input .input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.review-input .input-wrapper > textarea {
  background-color: #fff;
  min-height: 40px;
  max-height: 150px;
  overflow-y: auto;
  padding: 12px;
  outline: none;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
}

.review-input .input-wrapper > textarea:focus {
  border-color: #febd69;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars > * {
  cursor: pointer;
}

.progress-bar {
  height: 32px;
  border-radius: 4px;
  background-color: #ccc;
  overflow: hidden;
  width: 200px;
}

.progress-bar .inner {
  height: 100%;
  background-color: #febd69;
}

.right-side form input[type="email"],
.right-side form input[type="phone"],
.right-side form select {
  padding: 6px 3px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: auto;
  width: 100%;
  outline: none;
}

.right-side form input[type="phone"] {
  padding: 6px 13px 6px 52px;
}

.right-side form input[type="submit"] {
  padding: 10px;
  background: transparent;
  text-align: initial;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  outline: none;
}

@media (max-width: 567px) {
  .right-side {
    width: 100%;
  }
  .right-side form {
    width: 100%;
  }
}

.other-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  background: transparent;
  color: #111;
  padding: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #e0e0e0;
  direction: ltr;
}

.other-card .price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.other-card .image {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.other-card .image img {
  width: 50px;
}

.other-card .image span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  width: 500px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .other-card .image span {
    width: 200px;
  }
}

.other-card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  overflow: hidden;
  margin-right: auto;
}

.other-card .price > * {
  line-height: 1;
  padding: 8px;
}

.other-card .price img {
  max-width: 20px;
}

.other-card .price .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ccc;
  color: green;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  font-weight: bold;
}

.other-card .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: red;
  gap: 10px;
  font-weight: bold;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.other-card .logo {
  width: 32px;
  height: 24px;
}

.other-card .logo img {
  width: 100%;
  height: 100%;
}

@media (max-width: 567px) {
  .other-card button {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 16px;
}

.review .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.review .user .user-image {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.review .user .user-image img {
  width: 100%;
  height: 100%;
}

.review .date {
  color: #999;
}

.review .content {
  margin-top: 8px;
}

.cart-cont {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.cart-cont h1 {
  padding: 16px;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-item .cart-image {
  width: 120px;
  height: 120px;
}

.cart-item .cart-image img {
  width: 100%;
  height: 100%;
}

.cart-item .cart-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1000px;
}

.cart-item .cart-item-info .name {
  font-size: 22px;
  line-height: 2rem;
  font-weight: bold;
}

.cart-item .cart-item-info .price {
  font-size: 14px;
  color: #999;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  background: white;
  padding: 10px;
  border-radius: 3px;
}

.auth-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth-page form {
  max-width: 400px;
  width: 100%;
  padding: 32px;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 16px;
}

.auth-page form h1 {
  margin-bottom: 8px;
}

.auth-page .new {
  color: #999;
  margin-bottom: 16px;
}

.login-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

.login-social .facebook {
  max-width: 25px;
}

.login-social .google {
  max-width: 35px;
}

.profile-page {
  max-width: 500px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 auto;
}

.profile-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-page form button {
  width: 100%;
}

.profile-page .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
}

.profile-page .profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Tajawal", "Nunito", sans-serif;
}

.single-item-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 32px;
  gap: 24px;
}

.single-item-grid .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-item-grid .header .title {
  font-size: 24px;
}

.single-item-grid .header a {
  color: #05f;
}

.multi-item-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

@media (max-width: 567px) {
  .multi-item-grid {
    -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.error-message {
  background-color: #ff4343;
  padding: 10px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.error-message::before {
  content: url("../icons/error_white.svg");
  position: relative;
  left: 0px;
  top: 2px;
}

.success-message {
  background-color: green;
  padding: 10px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.success-message::before {
  content: url("../icons/check_white.svg");
  position: relative;
  left: 0px;
  top: 2px;
}

.swiper {
  width: 100%;
}

.search-page h1 {
  margin-bottom: 32px;
}

.homeblocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homeblock {
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e9e9e9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

@media (max-width: 567px) {
  .homeblock {
    text-align: center;
  }
}

.homeblock .title {
  font-weight: bold;
  font-size: 24px;
  padding: 8px;
  padding-bottom: 0;
}

.homeblock > img {
  height: 304px;
  width: 304px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.homeblock .images {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.homeblock .images .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homeblock .images .row img {
  width: 186px;
  height: 116px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 567px) {
  .homeblock .images .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.homeblock a {
  color: #05f;
  padding: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px !important;
  color: #000;
}

.ad-728 {
  width: 800px;
  max-width: 100%;
  height: 90px;
  background-color: #ccc;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-box-shadow: 1px 3px 9px 0px #d5d5d5;
          box-shadow: 1px 3px 9px 0px #d5d5d5;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

#chartdiv {
  width: 100%;
  height: 500px;
  direction: ltr;
}

#chartdiv g[aria-labelledby="id-66-title"] {
  display: none;
}

#chartdiv g[role="scrollbar"] {
  display: none;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.chart-container {
  max-width: 100%;
}

#currency {
  width: 125px;
}

div.stars {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  direction: rtl;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 0 10px;
  font-size: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #ccc;
}

input.star:checked ~ label.star:before {
  content: "\2605";
  color: #ffbb00;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-weight: 900;
}

input.star:checked ~ label.star:before {
  content: "\2605";
  color: #ffbb00;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-weight: 900;
}

input.star-5:checked ~ label.star:before {
  color: #ffbb00;
}

input.star-1:checked ~ label.star:before {
  color: #ffbb00;
}

label.star:before {
  content: "\2605";
  font-weight: 900;
  font-size: 30px;
}

.horline > li:not(:last-child):after {
  content: " |";
}

.horline > li {
  font-weight: bold;
  color: #ffbb00;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.lds-ellipsis {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

#currency {
  position: absolute;
  border: none;
  background: transparent;
  width: 82px;
}

.iti__country-list {
  max-width: 300px;
}
/*# sourceMappingURL=index.css.map */