.cart-cont {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    h1 {
        padding: 16px;
    }
}
.cart-item {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 16px;
    flex-wrap: wrap;
    .cart-image {
        width: 120px;
        height: 120px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .cart-item-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        width: 1000px;
        .name {
            font-size: 22px;
            line-height: 2rem;
            font-weight: bold;
        }
        .price {
            font-size: 14px;
            color: #999;
        }
    }
}
